## VARIABLES

var_int = 10
var_string = "Qasim"
var_float = 12.7
var_boolaean = True

In [3]:
print(var_int)
print(var_string)
print(var_float)
print(var_boolaean)

10
Qasim
12.7
True

In [4]:
print(type(var_int))
print(type(var_string))
print(type(var_float))
print(type(var_boolaean))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

# OPERATORS

In [5]:
1+3

4

In [6]:
5-3

2

In [7]:
6/2

3.0

In [8]:
"string"/7

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [9]:
2==2

True

In [10]:
2!=6

True

In [11]:
3>1

True

In [12]:
3<1

False

In [13]:
5>=5

True

In [14]:
5>=4

True

In [15]:
5<=4

False

In [16]:
(3>4) or (3>2) # atleast one condition

True

In [17]:
(3>4) and (3>2) # both conditions must be True

False

In [18]:
not True

False

In [21]:
6%3 == 0

True

## CONDITIONAL STATEMENTS

In [ ]:
 if (num === 0){
     
 }
console.log("Hello")

In [26]:
num = int(float(input("Enter a Number: ")))
print(num)

if num%2 == 0:
    print("Number is Even")
    print("contiue body of IF statement")
else:
    print("Number is Odd")

Enter a Number: 12.75
12
Number is Even
contiue body of IF statement

In [29]:
num = int(float(input("Enter a Number: ")))
print(num)

if num == 0:
    print("Number is equal to zero")
elif (num>=1) and (num<=5):
    print("Number between 1-5")
else:
    print("Number is greater than 5")

Enter a Number: 6
6
Number is greater than 5

## NESTED IF

In [36]:
fruit = input("Enter a Fruit name: ")

if fruit == 'Apple':
    price = int(input(f"Enter a {fruit} price: "))
    if price < 200:
        print(f"Buy 1kg Apples")
    else:
        print(f"Buy Half kg Apples")
else:
    print(f"{fruit} Condition is not defined")

Enter a Fruit name: banana
banana Condition is not Defined

## LIST

In [39]:
#            0         1         2        3   
fruits = ['Appple', 'Banana', 'Grapes', 'Kiwi']
#           -4        -3         -2       -1
# NOTE: Last index will not include in slicing 
print(type(fruits))

<class 'list'>

In [38]:
fruits[0]

'Appple'

In [40]:
fruits[-1]

'Kiwi'

In [41]:
fruits[-1:]

['Kiwi']

In [44]:
fruits[3:]

['Kiwi']

In [47]:
fruits[-4:]

['Appple', 'Banana', 'Grapes', 'Kiwi']

In [45]:
fruits[0:]

['Appple', 'Banana', 'Grapes', 'Kiwi']

In [48]:
fruits[1:3] # NOTE: Last index will not include in slicing

['Banana', 'Grapes']

In [51]:
#fruits. # will give all methods of list

## TUPLE

In [62]:
fruits + ['Mango']

['Appple', 'Banana', 'Grapes', 'Kiwi', 'Mango']

In [63]:
tuple_fruits=tuple(fruits + ['Mango'])

In [64]:
tuple_fruits

('Appple', 'Banana', 'Grapes', 'Kiwi', 'Mango')

In [55]:
tuple_fruit[0] = "kuchbhi" #becuase immutable

TypeError: 'tuple' object does not support item assignment

In [56]:
tuple_fruit[4]="mango"

TypeError: 'tuple' object does not support item assignment

In [66]:
tuple_fruit[0:3]

('Appple', 'Banana', 'Grapes')

In [71]:
tpl = ("Apple",)

type(tpl)

tuple

In [74]:
tuple_fruits

('Appple', 'Banana', 'Grapes', 'Kiwi', 'Mango')

In [73]:
tuple_fruits + ("Apple",)

('Appple', 'Banana', 'Grapes', 'Kiwi', 'Mango', 'Apple')

## SET

In [76]:
# unordered, keep unique value

fruit_set = set(tuple_fruits + ("Mango",))
print(fruit_set)

{'Banana', 'Mango', 'Grapes', 'Kiwi', 'Appple'}

In [78]:
fruit_set.add("Orange")

In [79]:
fruit_set

{'Appple', 'Banana', 'Grapes', 'Kiwi', 'Mango', 'Orange'}

In [81]:
fruit_set.intersection({'Appple', "Grapes"})

{'Appple', 'Grapes'}

In [82]:
fruit_set.difference({'Appple', "Grapes"})

{'Banana', 'Kiwi', 'Mango', 'Orange'}

In [83]:
fruit_set.issubset({'Appple', "Grapes"})

False

In [84]:
# {'Appple', 'Banana', 'Grapes', 'Kiwi', 'Mango', 'Orange'}
fruit_set.issubset({'Appple',
                    'Banana',
                    'Grapes',
                    'Kiwi',
                    'Mango',
                    'Orange', 
                    'kuchbi'})

True

## LOOPS

In [1]:
fruits = ['Appple', 'Banana', 'Grapes', 'Kiwi', 'Mango', 'Orange']

In [2]:
for temp in fruits: # tuple, set, dictionary
    print(temp)

Appple
Banana
Grapes
Kiwi
Mango
Orange

In [7]:
a= list(range(5))

In [8]:
a

[0, 1, 2, 3, 4]

In [4]:
for temp in range(5):
    print(temp)

0
1
2
3
4

In [47]:
for temp in range(2, 10, 2):
    if temp == 6:
        continue
    print(temp)

2
4
6
8

## DICTIONARIES

In [14]:
saylanidict = {'Name': 'Qasim', #key:value
                'Class': 'Saylani911',
                'Course': 'Python Programing',
                'Timmings': '9-11'}

In [15]:
saylanidict

{'Name': 'Qasim',
 'Class': 'Saylani911',
 'Course': 'Python Programing',
 'Timmings': '9-11'}

In [23]:
for temp in saylanidict.items():
    print(temp)

('Name', 'Qasim')
('Class', 'Saylani911')
('Course', 'Python Programing')
('Timmings', '9-11')

In [19]:
for key, value in saylanidict.items():
    print(key, value)

Name Qasim
Class Saylani911
Course Python Programing
Timmings 9-11

In [25]:
for key in saylanidict.keys():
    print(key)

Name
Class
Course
Timmings

In [24]:
for value in saylanidict.values():
    print(value)

Qasim
Saylani911
Python Programing
9-11

In [26]:
saylanidict

{'Name': 'Qasim',
 'Class': 'Saylani911',
 'Course': 'Python Programing',
 'Timmings': '9-11'}

In [27]:
saylanidict['Name']

'Qasim'

In [28]:
saylanidict['Name'] = 'Hassan'

In [29]:
saylanidict

{'Name': 'Hassan',
 'Class': 'Saylani911',
 'Course': 'Python Programing',
 'Timmings': '9-11'}

In [38]:
for temp in ['Class', 'Course']:
    print(saylanidict.get(temp))

Saylani911
Python Programing

In [43]:
[temp+'_temp' for temp in ['Class', 'Course']]

['Class_temp', 'Course_temp']

## WHILE LOOP

In [44]:
num= int(input("Enter a Number"))

while (num <5):
    print(num)
    num = num +1 # increment

Enter a Number1
1
2
3
4

In [55]:
5/0
print('Qasim')

ZeroDivisionError: division by zero

## TRY-CATCH

In [57]:
print("ETL : step 1")

try:
    5/0 # Step:2
except:
    print("Error: Demoniator can't be Zero")

print("ETL: step 3")

ETL : step 1
Error: Demoniator can't be Zero
ETL: step 3

## CLASSES

In [62]:
class Car:
    
    def __init__(self, name, make, condition):
        self.name = name
        self.make = make
        self.condition = condition
        self.staticVlaue = 'static_variable'
    
    def get_name(self):
        return self.name
    
    def set_name(self, name):
        self.name = name
    
    def details(self):
        print(f"{self.name} is made in {self.make} & now its condition is {self.condition}")

In [63]:
obj1 = Car("Mehran", 2012, 'Used')

In [67]:
obj1.get_name()

'Corolla'

In [66]:
obj1.set_name('Corolla')

In [68]:
obj1.details()

Corolla is made in 2012 & now its condition is Used

## FUNCTION

In [75]:
def addition(num1, num2=2):
    return num1+num2

In [76]:
result = addition(2)

In [77]:
result

4

In [78]:
x = lambda a : "Even" if a%2==0 else "Odd"
print(x(5))

Odd

## FILE HANDLING

In [80]:
with open('./filehandling.txt', 'r') as file:
    print(file.read())

re cap class